name: kater_x
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^0.12.0+4
  cupertino_icons: ^0.1.2
  flutter_html: ^1.0.0-pre.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
